********************************************************************************


888                        888    888
888                        888    888
888                        888    888
88888b.   .d88b.   .d88b.  888888 88888b.   .d88b.  888  888
888 "88b d8P  Y8b d8P  Y8b 888    888 "88b d88""88b `Y8bd8P'
888  888 88888888 88888888 888    888  888 888  888   X88K
888 d88P Y8b.     Y8b.     Y88b.  888 d88P Y88..88P .d8""8b.
88888P"   "Y8888   "Y8888   "Y888 88888P"   "Y88P"  888  888

------------------------------------------------------------
URL: http://{{ beet_domain }}/
------------------------------------------------------------

MySQL
------------------------------------------------------------
Hostname: localhost or 127.0.0.1
Port: {{ mysql_port }}
Database name: {{ beet_mysql_database }}
Username: {{ beet_mysql_user }}
Password: {{ beet_mysql_password }}

{% if (beet_project == 'drupal') %}
Drupal
------------------------------------------------------------
Drush alias: @{{ beet_domain }}
{% if (drupal_drush_login.rc == 0) %}
Login link: {{ drupal_drush_login.stdout }}
{% endif %}
{% endif %}

Developer Tools
------------------------------------------------------------
{% if (installed_extras_mailhog) %}
Mailhog: http://{{ beet_domain }}:8025/
{% endif %}

------------------------------------------------------------
Documentation: http://beetbox.rtfd.org
------------------------------------------------------------


